.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.link:active {
    color: white;
}

.link:visited {
    color: white;
}

.link:focus {
    color: white;
}